/* dark */
:root {
   --primary: hsl(180, 100%, 30%);
   --primary-light: hsl(150, 100%, 50%);
   --primary-dark: hsl(150, 100%, 10%);

   --radius: 20px;

   --body-bg: #000;

   --main-pattern: url("image/pattern-dark.svg");
   --main-pattern-size: 40px;

   --header-bg: linear-gradient(90deg, hsl(180, 100%, 20%), hsl(150, 100%, 20%));
   --header-color: #fff;
   --header-border: none;
   --header-height: 60px;
   --header-shodow: 0px 0px 20px #0009;

   --profile-bg: #000;
   --profile-width: 50px;
   --profile-height: 50px;
   --profile-radius: var(--radius);

   --robot-massage-bg: linear-gradient(45deg, hsl(210, 100%, 20%), hsl(180, 100%, 20%));
   --robot-massage-color: #fff;
   --robot-massage-tag-bg: #0005;
   --robot-massage-border: none;
   --robot-massage-radius: 0 var(--radius) var(--radius) var(--radius);

   --user-massage-bg: linear-gradient(45deg, hsl(120, 100%, 20%), hsl(150, 100%, 30%));
   --user-massage-color: #fff;
   --user-massage-border: none;
   --user-massage-radius: var(--radius) 0 var(--radius) var(--radius);

   --footer-bg: linear-gradient(90deg, hsl(180, 100%, 20%), hsl(150, 100%, 20%));
   --footer-border: none;
   --footer-height: 60px;
   --footer-shodow: none;

   --input-bg: #0007;
   --input-color: #fff;
   --input-radius: var(--radius);
   --input-height: 40px;

   --send-bg: #0007;
   --send-active-bg: #000;
   --send-color: #fff;
   --send-active-color: #fff;
   --send-radius: var(--radius);
   --send-border: none;
   --send-height: 40px;
   
   --hr-color: #0007;
   --hr-radius: 5px;
   
   --button-bg: #0007;
   --button-active-bg: #000;
   --button-color: #fff;
   --button-active-color: #fff;
   --button-radius: var(--radius);
   --button-border: none;
   --button-height: 40px;
}