/* lite */
:root {
   --primary: hsl(150, 100%, 40%);
   --primary-light: hsl(150, 100%, 80%);
   --primary-dark: hsl(150, 100%, 10%);

   --radius: 20px;

   --body-bg: linear-gradient(45deg, hsl(150, 100%, 80%), hsl(180, 100%, 80%));

   --main-pattern: url("image/pattern.svg");
   --main-pattern-size: 40px;

   --header-bg: linear-gradient(90deg, hsl(150, 100%, 45%), hsl(180, 100%, 45%));
   --header-color: #000;
   --header-border: none;
   --header-height: 60px;
   --header-shodow: 0px 0px 20px #0009;

   --profile-bg: #000;
   --profile-width: 50px;
   --profile-height: 50px;
   --profile-radius: var(--radius);

   --robot-massage-bg: linear-gradient(45deg, hsl(150, 100%, 45%), hsl(180, 100%, 45%));
   --robot-massage-color: #000;
   --robot-massage-tag-bg: #fff5;
   --robot-massage-border: none;
   --robot-massage-radius: 0 var(--radius) var(--radius) var(--radius);

   --user-massage-bg: #fff;
   --user-massage-color: #000;
   --user-massage-border: none;
   --user-massage-radius: var(--radius) 0 var(--radius) var(--radius);

   --footer-bg: linear-gradient(90deg, hsl(150, 100%, 45%), hsl(180, 100%, 45%));
   --footer-border: none;
   --footer-height: 60px;
   --footer-shodow: none;

   --input-bg: #fff7;
   --input-color: #000;
   --input-radius: var(--radius);
   --input-height: 40px;

   --send-bg: #fff9;
   --send-active-bg: var(--primary-dark);
   --send-color: #000;
   --send-active-color: #fff;
   --send-radius: var(--radius);
   --send-border: none;
   --send-height: 40px;
   
   --hr-color: #fff7;
   --hr-radius: 5px;
   
   --button-bg: #fff9;
   --button-active-bg: var(--primary-dark);
   --button-color: #000;
   --button-active-color: #fff;
   --button-radius: var(--radius);
   --button-border: none;
   --button-height: 40px;
}