.scallop(@a, @b, @c) {
   display: inline-flex;
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
   width: @a;
   aspect-ratio: 1 / 1;
   border-radius: calc(@a/6);
   margin: calc(@a/5);
   background: @b;
   color: @c;
   z-index: 0;
   transition: 0.3s;

   &::before,
   &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: @a;
      aspect-ratio: 1 / 1;
      border-radius: calc(@a/6);
      background: @b;
      color: @c;
   }

   &::before {
      transform: rotate(-60deg);
   }

   &::after {
      transform: rotate(-30deg);
   }
}

body{
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #26D962;
   margin: 0;
   padding: 0;
   height: 100vh;
}
body>div{
   font-size: 50px;
   .scallop(200px,#26D962,#000);
}
p{
   position: fixed;
   bottom: 10px;
   font-size: 20px;
}