@font-face {
  font-family: "JetBrainsMono";
  src: url(http://localhost:7700/style/font/JetBrainsMono.ttf);
}
@font-face {
  font-family: "VazirCode";
  src: url(http://localhost:7700/style/font/VazirCode.ttf);
}
@font-face {
  font-family: "NotoEmoji";
  src: url(http://localhost:7700/style/font/NotoEmoji.ttf);
}
@font-face {
  font-family: "mds";
  src: url("http://localhost:7700/style/font/mds.woff2") format("woff2");
}
* {
  -webkit-tap-highlight-color: #0000;
  font-family: "JetBrainsMono", "VazirCode", "NotoEmoji";
  box-sizing: border-box;
  direction: auto;
  accent-color: var(--primary);
  scroll-behavior: smooth;
}
::selection {
  background: var(--primary);
  color: var(--on-primary);
}
.s::selection {
  background: var(--secondary);
  color: var(--on-secondary);
}
.t::selection {
  background: var(--tertiary);
  color: var(--on-tertiary);
}
:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: -2px;
  border: none;
}
::-webkit-scrollbar {
  background: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary) padding-box;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
.mds {
  font-family: "mds";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
  font-size: 1.5em;
  transition: font-variation-settings 0.3s;
}
body {
  background: radial-gradient(circle at top left, transparent 10%, var(--surface) 10%, var(--surface) 15%, transparent 15%), radial-gradient(circle at bottom left, transparent 10%, var(--surface) 10%, var(--surface) 15%, transparent 15%), radial-gradient(circle at top right, transparent 10%, var(--surface) 10%, var(--surface) 15%, transparent 15%), radial-gradient(circle at bottom right, transparent 10%, var(--surface) 10%, var(--surface) 15%, transparent 15%), radial-gradient(circle, transparent 25%, var(--background) 25%), linear-gradient(45deg, transparent 46%, var(--surface) 47%, var(--surface) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, var(--surface) 47%, var(--surface) 52%, transparent 53%);
  background-size: 3em 3em;
  background-color: var(--background);
  color: var(--on-background);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--glass-variant);
  color: var(--on-glass-variant);
  color: var(--on-background);
  border-bottom: 2px solid var(--outline);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 32px;
  transition: 0.3s;
  backdrop-filter: blur(10px);
  z-index: 1;
}
header > *:not(.title) {
  border-radius: 30px;
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  transition: font-size 0.3s;
}
header > *:not(.title):hover {
  font-size: 32px;
}
header > *:not(.title):hover .mds {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}
header > .title {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  font-variation-settings: 'wght' 600;
}
menu-backdrop {
  background: var(--glass);
  color: var(--on-glass);
  backdrop-filter: blur(10px);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  opacity: 0;
}
menu-backdrop.on {
  z-index: 2;
  opacity: 1;
}
menu {
  background: var(--glass-variant);
  color: var(--on-surface);
  backdrop-filter: blur(20px);
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  width: 0;
  height: calc(100% - 40px);
  overflow: hidden auto;
  z-index: 3;
  transition: 0.3s;
  border-radius: 20px;
  transform: translateX(calc(-100% - 40px));
  padding: 0;
  margin: 0;
  width: 60vw;
  border: 2px solid var(--outline);
}
menu.on {
  transform: translateX(0);
}
menu menu-header {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}
menu menu-body {
  display: block;
}
menu .list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
}
menu .list > * {
  height: 50px;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
}
menu .list > *:hover {
  font-size: 24px;
  background: var(--primary-container);
  color: var(--on-primary-container);
}
menu hr {
  height: 0;
  border: none;
  border-top: 2px solid var(--outline);
}
main {
  padding-top: 60px;
}
main section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
main section > * {
  flex: 1 0 250px;
}
main section > div {
  margin: 10px;
  border-radius: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}
main section > div svg {
  width: 300px;
}
main section article {
  padding: 10px;
}
main section article > h1 {
  margin: 0;
  padding: 5px 10px;
  font-size: 32px;
}
main section article > div {
  padding: 10px;
  background: var(--glass-variant);
  color: var(--on-surface);
  border: 2px solid var(--outline);
  border-radius: 20px;
}
main section article > div div {
  padding: 10px;
  margin: 20px 10px;
  background: var(--glass-variant);
  color: var(--on-surface);
  border: 2px solid var(--outline);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 550px) {
  section:nth-child(1) {
    flex-flow: row-reverse wrap !important;
  }
}