@import url(font-awesome/css/all.css);

@font-face {
   font-family: "IRANSans";
   src: url(font/IRANSans.ttf);
}

@font-face {
   font-family: "comfortaa";
   src: url(font/comfortaa.ttf);
}

@font-face {
   font-family: "nova";
   src: url(font/NovaMono-Regular.ttf);
}

@font-face {
   font-family: "microsoft";
   src: url(font/microsoft.ttf);
}

@primary: var(--primary);
@primary-opacity: var(--primary-opacity);
@on-primary: var(--on-primary);
@primary-low: var(--primary-low);
@on-primary-low: var(--on-primary-low);
@primary-high: var(--primary-high);
@on-primary-high: var(--on-primary-high);
@secondary: var(--secondary);
@secondary-opacity: var(--secondary-opacity);
@on-secondary: var(--on-secondary);
@secondary-low: var(--secondary-low);
@on-secondary-low: var(--on-secondary-low);
@secondary-high: var(--secondary-high);
@on-secondary-high: var(--on-secondary-high);
@error: var(--error);
@error-opacity: var(--error-opacity);
@on-error: var(--on-error);
@error-low: var(--error-low);
@on-error-low: var(--on-error-low);
@error-high: var(--error-high);
@on-error-high: var(--on-error-high);
@warn: var(--warn);
@warn-opacity: var(--warn-opacity);
@on-warn: var(--on-warn);
@warn-low: var(--warn-low);
@on-warn-low: var(--on-warn-low);
@warn-high: var(--warn-high);
@on-warn-high: var(--on-warn-high);
@backdrop: var(--backdrop);
@background: var(--background);
@background-image: var(--background-image);
@on-background: var(--on-background);

@import url(mushroom.less);

::selection {
   background: @primary-opacity;
   color: @on-primary;
}

* {
   user-select: none;
   -webkit-tap-highlight-color: #0000;
   font-family: "comfortaa", "IRANSans", "microsoft";
}

body {
   margin: 0;
   padding: 0;
   background-size: cover;
   background: @background @background-image;
   color: @on-background;
   min-width: 100vw;
   min-height: 100vh;
}

header {
   width: 100vw;
   height: 56px;
   background: #0000;
   backdrop-filter: blur(0);
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 32px;
   font-weight: bold;
   position: fixed;
   top: 0;
   z-index: 1;
   box-sizing: border-box;
   transition: 0.3s;

   &.on {
      background: @primary-opacity;
      backdrop-filter: blur(10px);
      color: @on-primary;
   }

   &>div:not(#title, #backdrop, #menu) {
      width: 56px;
      height: 56px;
      .flex-center;
   }

   &>#backdrop {
      transition: 0.3s;
      position: fixed;
      top: 0;
      right: 0;
      visibility: hidden;
      background: #0000;
      width: 100vw;
      height: 100vh;

      &.on {
         visibility: visible;
         background: @backdrop;
      }

      &.on+#menu {
         width: 80vw;

         @media (min-width: 800px) {
            width: 300px;
         }
      }
   }

   &>#menu {
      transition: 0.3s;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 3;
      background: @background;
      color: @on-background;
      width: 0;
      height: 100vh;
      border-radius: 30px 0 0 30px;
      overflow: hidden;
   }
}

#menu {
   text-align: center;
}

main {
   &>div{
      padding: 10px;
   }
   &>div:nth-of-type(1) {
      color: #fff;
      padding-top: 56px;
      background: url(/image/bg.png);
      font-size: 18px;
      &>svg {
         color: @primary;
         width: 300px;
         height: 300px;
      }
   }
}

footer {
   background: #000;
   color: @primary;
   width: 100vw;
   padding: 10px;
   box-sizing: border-box;
}

li::marker {
   content: "🍀";
}

ol>li {
   all: revert;

   &::marker {
      all: revert;
   }
}