@font-face {
   font-family: "negaar";
   src: url("font/Negaar.ttf");
}
*{
   -webkit-tap-highlight-color: #0000;
   outline: none;
   font-family: "negaar";
}
*::selection{
   background: crimson;
   color: #fff;
   caret-color: white;
}
body{
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden, auto;
   background: #000;
}
header{
   width: 100vw;
   height: 60px;
   background: linear-gradient(-90deg, hsl(360,100%,50%), hsl(300,100%,50%));
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header>div{
   width: 60px;
   height: 60px;
   box-sizing: border-box;
   padding: 10px;
   font-size: 30px;
}
#title{
   width: auto;
}
#icon{
   padding: 0;
   margin-inline: 10px;
}
#welcome{
   width: 100vw;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   color: crimson;
   font-size: 3rem;
}
#welcome>img{
   width: 50%;
   filter: drop-shadow(0 0 30px #f055);
}
.crimson{
   background: #000;
   text-align: center;
   padding: 10px;
}
.crimson>p{
   background: linear-gradient(-135deg, hsl(360, 100%, 50%), hsl(300, 100%, 50%));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 2rem;
}
section{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 70px;
   box-sizing: border-box;
   padding: 70px;
}
section>div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
section>div>img{
   box-shadow: 0 0 50px crimson;
   border-radius: 30px;
}
section>div>p{
   background: linear-gradient(-135deg, hsl(360, 100%, 50%), hsl(300, 100%, 50%));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 2rem;
}
footer>.crimson>p{
   font-size: 16px;
}
hr{
   width: auto;
   height: 4px;
   border: none;
   border-radius: 2px;
   background: linear-gradient(-90deg, hsl(360,100%,50%), hsl(300,100%,50%));
}